.vs/
.vscode/
.mvn/
.settings/
.metadata/

bin/
obj/
build/
target/
node_modules/
lecture-videos/

.springBeans
.factorypath
.classpath
.project

account_information.txt
presentation.pptx
project_ideas.pdf
project_report.docx
project_report.pdf

mvn*
*.exe
*.out
*.class